
@font-face { font-family: yumin; src: url('_yumin.ttf'); }
@font-face { font-family: strokeorder; src: url('_strokeorder.ttf'); }
@font-face { font-family: hgrkk; src: url('_hgrkk.ttc'); }
@font-face { font-family: yugothb; src: url('_yugothb.ttc'); }


/* APPLIES TO THE WHOLE CARD */
.card {
    font-family: Menlo, baskerville, sans;
    font-size: 18px; /* FONT SIZE */
    text-align: center; /* ALIGN TEXT */
    color: #D7DEE9; /* FONT COLOR */
    line-height: 1.6em;
    background-color: #333B45; /* BACKGROUND COLOR */
}
/* STYLE FOR CLOZE DELETIONS */
.cloze{ font-weight: bold; color: #6c71c4  !important;font-size:18px;}
.cloze u, .cloze i { font-weight: bold; color: MediumSeaGreen !important;}
.cloze b { color: MediumSeaGreen !important; font-size:35px; } 

/* COLOR ACCENTS FOR BOLD-ITALICS-UNDERLINE */

b { color: MediumSeaGreen !important; font-size:25px; } /* BOLD STYLE */
u { text-decoration: none; color: #5EB3B3;} /* UNDERLINE STYLE */
i  { color: IndianRed; } /* ITALICS STYLE */
a { color: LightGray !important; text-decoration: none; font-size: 10px; font-style: normal; } /* LINK STYLE */


html { overflow: scroll; overflow-x: hidden; }



.kyokasho {
	font-family: yumin;
	font-size: 30px;
	text-align: center;
}

.kyokasho_s {
	font-family: yumin;
	font-size: 20px;
	text-align: center;
}

.kyokasho_sa {
	font-family: yumin;
	font-size: 20px;
	text-align: left;
}

.kyokasho_sq {
	font-family: yumin;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
	color:#D7DEE9;
}

.kyokasho_s_right {
	font-family: yumin;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
	color: MediumSeaGreen;
} 

.kyokasho_s_wrong {
	font-family: yumin;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	color: IndianRed;
}  

.center{
  text-align: center;
}




.field_set_col{
        margin-bottom: 1em;
        border: 2px solid #007868;
        border-right: 2px solid #007868;
        border-bottom: 2px solid #007868;


$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;